<h2>Sign Up</h2>
<form class="form signup-form" action="../public/js/signup.js" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign Up!</button>
</form>
<p>Aready have an account? <a href="../public/js/login.js">Login instead</a></p>